.inline-block {
    display: inline-block;
    background-color: rgb(200, 198, 198);
}

.navigation {
    width: 100%;
    background-color: rgb(200, 198, 198);
}

#nav {
    width: 100%;
    padding: 1%;
}

.ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    padding: 25px;
    color: #e9e9e9;
    display: flex;
    text-align: center;
}

#footer {
    background-color: rgb(200, 198, 198);
    padding: 1%;
}

#footer .ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}

.mySkills {
    padding: 25px;
    background-color: rgb(200, 198, 198);
    color: #414141;
    display: flex;
    text-align: center;
}

.work {
    padding: 25px;
    height: 580px;
    color: rgb(200, 198, 198);
}

.flexContainer {
    display: flex;
    background-color: rgb(200, 198, 198);
}

.flexContainer1 {
    display: flex;
    background-color: #414141;
}

.workGrid {
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 600) {
    #grid-item{ 
        margin: 0px 5%;
        display: grid;
        grid-template-rows: 100% 100% 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #flexContainer {
        display: column;
    }
}